In [6]:
import yfinance as yf  #需要挂梯子
yf.pdr_override()
import os
from datetime import datetime

In [9]:
# get stock data
def get_stock_data(ticker, start_date, end_date):
    stock_data = yf.download(ticker, start=start_date, end=end_date)
    return stock_data

tickers = ['AAPL', 'MSFT', 'GOOGL', 'AMZN','600967.SS'] 
start_date = datetime(2018,12,1)
end_date = datetime(2023,12,15)
directory = 'StockData'

if not os.path.exists(directory): # create directory if it doesn't exist
    os.makedirs(directory)

for ticker in tickers:
    data = get_stock_data(ticker, start_date, end_date)
    data.to_csv(f'{directory}/{ticker}.csv') # save data to csv file

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

In [8]:
get_stock_data('600967.SS', start_date, end_date)

[*********************100%%**********************]  1 of 1 completed

             Open   High    Low  Close  Adj Close    Volume
Date
2018-12-03  11.97  12.08  11.85  11.98  11.276621  11243056
2018-12-04  11.92  11.95  11.70  11.79  11.097778  11886086
2018-12-05  11.60  11.66  11.51  11.62  10.937757   8309861
2018-12-06  11.59  11.66  11.35  11.40  10.730674   8694378
2018-12-07  11.43  11.50  11.36  11.37  10.702436   4889904
...           ...    ...    ...    ...        ...       ...
2022-12-08   8.73   8.79   8.64   8.65   8.442331   6431420
2022-12-09   8.65   8.71   8.50   8.52   8.315453  11084288
2022-12-12   8.54   8.62   8.48   8.58   8.374012   8311029
2022-12-13   8.58   8.60   8.46   8.50   8.295933   7380693
2022-12-14   8.50   8.58   8.49   8.51   8.305693   5358166

[978 rows x 6 columns]